<html>
    <head>
        <title>Members</title>
    </head>

    <body>
        <a href="add/">add Member</a>
        <table >
            <thead>
                <th>ID</th>
                <th>First</th>
                <th>Last</th>
                <th>action</th>
            </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td><a href="update/{{ member.id }}">{{ member.id }}</a>
                            <td>{{ member.fname }}</td>
                            <td>{{ member.lname }}</td>
                            <td><a href="delete/{{ member.id }}">Delete</a>
                        </tr>
                        {% endfor %}
                </tbody>
        </table>
        
        
        
        
    </body>
</html>